<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Editar Usuario</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />
</head>
<body>
<header th:include="~{../static/html/header.html}"></header>
<main class="p-3">
  <section class="container d-flex justify-content-center">
    <div class="card p-3">
      <h3 class="text-center">Editar usuario</h3>
      <form
              th:action="@{/usuario/actualizar/{idUsuario}(idUsuario=${usuario.getIdUsuario()})}"
              method="post"
      >
        <div class="mb-3">
          <label for="run">Run</label>
          <input
                  type="text"
                  class="form-control"
                  name="run"
                  id="run"
                  disabled
                  th:value="${usuario.getRun()}"
          />
        </div>
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input
                  type="text"
                  class="form-control"
                  name="nombre"
                  id="nombre"
                  th:value="${usuario.getNombre()}"
          />
        </div>
        <div class="mb-3">
          <label for="apellido1">apellido 1</label>
          <input
                  type="text"
                  class="form-control"
                  name="apellido1"
                  id="apellido1"
                  th:value="${usuario.getApellido1()}"
          />
        </div>
        <div class="mb-3">
          <label for="apellido2">Apellido 2 (opcional)</label>
          <input
                  type="text"
                  class="form-control"
                  name="apellido2"
                  id="apellido2"
                  th:value="${usuario.getApellido2()}"
          />
        </div>
        <div class="mb-3">
          <label for="telefono">Telefono</label>
          <input
                  type="text"
                  class="form-control"
                  name="telefono"
                  id="telefono"
                  th:value="${usuario.getTelefono()}"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  th:value="${usuario.getEmail()}"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
          >Contraseña</label
          >
          <input
                  name="clave"
                  type="clave"
                  class="form-control"
                  id="exampleInputPassword1"
                  th:value="${usuario.getClave()}"
          />
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input
                      class="form-check-input"
                      type="radio"
                      name="perfil.idPerfil"
                      id="flexRadioDefault1"
                      th:value="3"
                      th:checked="${usuario.getPerfil().getIdPerfil() == 3} ? 'true' : 'false'"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Empleador
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input
                      class="form-check-input"
                      type="radio"
                      name="perfil.idPerfil"
                      id="flexRadioDefault2"
                      th:value="2"
                      th:checked="${usuario.getPerfil().getIdPerfil() == 2} ? 'true' : 'false'"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Contador
              </label>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
<footer th:include="~{../static/html/footer.html}"></footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
</body>
</html>