<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/Archivos css/Registro.css"> -->
    <!-- CSS BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
<!-- Nav - Barra menu -->
<header th:include="~{../static/html/header.solo.html}"></header>
<main class="justify-content-center">
    <div class="card">
        <div class="card-header">
            <h1>Liquidacions de sueldos</h1>
            <h1>para trabajadores de casa</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">TEXTO PRUBEA - Borrar</h5>
            <p class="card-text">Podrás crear liquidaciones de sueldo para tus trabajadores de casa particular y si eres contador <br>
                podrás agregar a tus empleadores/clientes y manejar a sus trabajadores y liquidaciones.</p>
            <a href="/login" class="btn btn-secondary">Iniciar Sesion</a>
            <a href="/usuario/registrarUsuario" class="btn btn-dark">Registrarse</a>
        </div>
    </div>

    <br>


    <div class="card mb-4 border-0" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHRGJEdD1zZizv-NdbPIf3KYn1KisKXGtJhIyzT4vqzn-6wTrHCj-cG3h8e6M8YC25jg&usqp=CAU" class="img-fluid rounded-start" alt="1" width="64px" height="64px">
                <!-- modificar tamaño imagen-->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">List-based media object</h5>
                    <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4 border-0" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHRGJEdD1zZizv-NdbPIf3KYn1KisKXGtJhIyzT4vqzn-6wTrHCj-cG3h8e6M8YC25jg&usqp=CAU" class="img-fluid rounded-start" alt="1" width="64px" height="64px">
                <!-- modificar tamaño imagen-->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">List-based media object</h5>
                    <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4 border-0" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHRGJEdD1zZizv-NdbPIf3KYn1KisKXGtJhIyzT4vqzn-6wTrHCj-cG3h8e6M8YC25jg&usqp=CAU" class="img-fluid rounded-start" alt="1" width="64px" height="64px">
                <!-- modificar tamaño imagen-->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">List-based media object</h5>
                    <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4 border-0" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHRGJEdD1zZizv-NdbPIf3KYn1KisKXGtJhIyzT4vqzn-6wTrHCj-cG3h8e6M8YC25jg&usqp=CAU" class="img-fluid rounded-start" alt="auto" width="64px" height="64px">
                <!-- modificar tamaño imagen-->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">List-based media object</h5>
                    <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contacto -->
    <section class="section-contacto">
        <div class="container mt-5 mb-4 contacto">
            <div class="row">
                <div class="col-s-12">
                    <form id="contactForm" method="post" action="">
                        <h2 class="h2-login">CONTACTO</h2>
                        <div class="form-group mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control form-control" id="nombre" name="nombre"
                                   placeholder="Ingrese su nombre" required style="width: 350px;">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control form-control" id="email" name="email"
                                   placeholder="Ingrese email" required style=" color: #050000; width: 350px;">
                            <small id="emailHelp">Nunca compartiremos tu email.</small>
                        </div>
                        <div class="form-group mb-3">
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control form-control" id="mensaje" name="mensaje"
                                      placeholder="Ingrese su mensaje" required
                                      style="height: 100px; width: 350px;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer th:include="~{../static/html/footer.html}"></footer>

<!-- Script / JS BOOSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>