<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/registroUsuario.css">
    <!-- CSS BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Registro</title>

</head>
<body>
<header>
    <header th:include="~{../static/html/header.solo.html}"></header>
</header>
<main>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <!-- CSS BOOSTRAP -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <div class="testbox">
        <h1>Registro usuario</h1>

        <form action="/">

            <hr>
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Run" required/>
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Apellido 1" required/>
            <label id="icon" for="name"><i class="icon-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Nombre" required/>
            <label id="icon" for="name"><i class="icon-envelope "></i></label>
            <input type="text" name="name" id="name" placeholder="Email" required/>
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" placeholder="Password" required/>

            <div class="gender">
                <input type="radio" value="None" id="male" name="gender" checked/>
                <label for="male" class="radio" chec>Empleador</label>
                <input type="radio" value="None" id="female" name="gender" />
                <label for="female" class="radio">Contador</label>
            </div>
            <p>Al hacer click en Registrar, usted acepta los <a href="#">terminios y condiciones</a>.</p>
            <a href="#" class="button">Registrar</a>
        </form>
    </div>



</main>
<footer th:include="~{../static/html/footer.html}"></footer>
<!-- JS BOOSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>